<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ cssPath }}/print.css">
        {% for cssFile in css %}
            <link rel="stylesheet" href="{{ cssPath }}/plugins/{{ cssFile.path }}">
        {% endfor %}
    </head>
    <body>
        <div class="toc">
            <h1>Sumário</h1>
            <ul class="chapter-toc">
            {% for chapter in chapters %}
                <li>
                    <span class="chapter-name-toc">{{ chapter.title }}</span><span class="chapter-page-toc">{{ chapter.pageNumber }}</span>
                    <ul class="section-toc">
                        {% for section in chapter.sections %}
                            <li>
                                <span class="section-name-toc">{{ section.title }}</span><span class="section-page-toc">{{ section.pageNumber }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
            <span class="version">Versão: {{ version() }}</span>
       </div>
    </body>
</html>
